@import '@/style/variables.scss';

$animation-duration-show: 200ms;
$animation-duration-hide: 600ms;
$notification-radius: $radius-large;
$notification-z-index: 1800;

.panel {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: $notification-z-index;

    @include tablet() {
        left: initial;
        width: 30rem;
    }
}

.wrapper {
    &.closing {
        animation-name: wrapper-closing;
        animation-duration: $animation-duration-hide * 0.75;
        animation-timing-function: $animation-ease;
        animation-fill-mode: forwards;
        animation-delay: $animation-duration-hide * 0.25;
    }

    &:not(:last-child):not(.closing):not(.closing-below) > .notification {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(.closing):not(.closing-above) > .notification {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.notification {
    animation-timing-function: $animation-ease;
    animation-fill-mode: forwards;
    border-radius: $notification-radius;
    transition: border-radius $animation-duration-show $animation-ease;
    
    display: flex;
    padding: 1.25rem;
    
    &.opening {
        animation-duration: $animation-duration-show;
        animation-name: notification-opening;
        transform-origin: center bottom;
    }
    
    &.closing {
        animation-duration: $animation-duration-hide * 0.75;
        animation-name: notification-closing;
        transform-origin: center;
    }

    & > span {
        flex-grow: 1;
    }
}

.dismiss {
    @include delete();
}

@keyframes notification-opening {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes notification-closing {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes wrapper-closing {
    to {
        height: 0;
    }
}
