@import '@/style/variables.scss';
@import '@/style/animations.scss';

$dropdown-fade-duration: 300ms;
$dropdown-background-alpha: 0.15;
$dropdown-z-index: 500;

.menu-opening-default {
    animation-name: fade-in;
    animation-duration: $dropdown-fade-duration;
    animation-timing-function: $animation-ease;
}

.menu-closing-default {
    animation-name: fade-out;
    animation-duration: $dropdown-fade-duration;
    animation-timing-function: $animation-ease;
}

.backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: ($dropdown-z-index - 1);
    background: rgba($black, $dropdown-background-alpha);
    animation-duration: $dropdown-fade-duration;
    animation-timing-function: $animation-ease;

    animation-name: fade-in;

    @include no-print();

    &.hiding {
        animation-fill-mode: forwards;
        animation-name: fade-out;
        pointer-events: none;
    }
}
