@import '@/style/variables.scss';

.account-container {
    padding: 1.5rem 1rem;
    max-width: 960px;
}

.root {
    display: flex;
    align-items: flex-start;
}

.avatar {
    font-size: 3rem;
    margin-right: 2rem;

    @include mobile() {
        display: none;
    }
}

.info-table {
    td:not(:first-child) {
        padding-left: 0.5rem;
    }
    td:not(:last-child) {
        padding-right: 0.5rem;
    }
}

.incorrectness {
    margin: 1rem 0;
}
