@import '@/style/variables.scss';

.not-found {
    padding: 4rem;
}

.title {
    color: $grey-lighter;

    @media screen and (min-width: 450px) {
        font-size: 17.5rem;
    }
    
    @media screen and (min-width: 270px) and (max-width: 450px) {
        font-size: 10rem;
    }
}