@import '@/style/variables.scss';
@import '@/style/animations.scss';

$fade-duration: 500ms;
$fullscreen-loader-z-index: 1600;

.fullscreen-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $fullscreen-loader-z-index;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    display: none;
    pointer-events: none;

    animation-duration: $fade-duration;
    animation-fill-mode: forwards;
    animation-name: none;
}

.visible {
    opacity: 1;
    display: flex;
    pointer-events: initial;
    animation-name: none;
}

.showing {
    display: flex;
    animation-name: fade-in;
    pointer-events: initial;
    
    .loader {
        animation-duration: $fade-duration;
        animation-fill-mode: forwards;
        animation-name: loader-show;
    }
}

.hiding {
    display: flex;
    animation-name: fade-out;
    
    .loader {
        animation-duration: $fade-duration;
        animation-fill-mode: forwards;
        animation-name: loader-hide;
    }
}

.message {
    margin-top: 0.5em;
}

@keyframes loader-show {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes loader-hide {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.5);
    }
}
