@import '@/style/variables.scss';

$open-collapse-time: 300ms;
$navbar-height: 3.25rem;
$sidebar-z-index: 300;

$sidebar-gap: 0.75rem;

$width-mobile: percentage($number: 1);
$width-tablet: percentage($number: 1 / 3);
$width-desktop: percentage($number: 1 / 4);

.sidebar {
    background-color: $white;
    transition: transform $open-collapse-time $animation-ease,
                box-shadow $open-collapse-time $animation-ease;

    display: block; // IE11
    overflow-y: auto;
    padding: $sidebar-gap;

    @media screen {
        top: $navbar-height;
        left: 0;
        bottom: 0;
        z-index: $sidebar-z-index;
        position: fixed;
    }

    @include mobile() {
        width: $width-mobile;
    }

    @include tablet() {
        width: $width-tablet;
    }

    @include desktop() {
        width: $width-desktop;
    }

    &:not(.printable) {
        @include no-print();
    }

    & > :last-child {
        margin-bottom: 15px;
    }

    @include until($tablet) {
        &:not(.open) {
            transform: translateX(-100.1%); // decimal for Chromium bug
        }
    }

    @include from($tablet) {
        &.unpinned:not(.open) {
            transform: translateX(-100.1%); // decimal for Chromium bug
        }

        &.unpinned.open {
            box-shadow: 2px 0 3px rgba($dark, 0.1);
        }
    }
}

.main {
    padding: $sidebar-gap;
    display: block; // IE11

    @media print {
        margin-left: 0 !important;
        width: 100% !important;
    }

    &.with-sidebar {
        @include mobile() {
            margin-left: 0;
            width: 100%;
        }

        @include tablet() {
            margin-left: $width-tablet;
            width: 100% - $width-tablet;
        }

        @include desktop() {
            margin-left: $width-desktop;
            width: 100% - $width-desktop;
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: $sidebar-z-index - 1;

    display: none;
    align-items: center;
    justify-content: center;
    background: rgba($white, 0.9);
    border: none;

    transform: translateX(-100%);
    opacity: 0;
    transition: transform $open-collapse-time $animation-ease,
                background $open-collapse-time $animation-ease,
                opacity $open-collapse-time $animation-ease;

    pointer-events: none;
    cursor: pointer;

    @include tablet() {
        display: flex;
    }

    @include no-print();

    &:hover, &:focus {
        background: rgba($white, 0.75);
        outline: none;

        span {
            color: $link;
            font-size: 3rem;
        }
    }

    &.open {
        transform: none;
        opacity: 1;
        pointer-events: all;

        span {
            display: block;
        }
    }

    span {
        font-size: 2.5rem;
        color: $grey;
        transition: color $open-collapse-time $animation-ease,
                    font-size $open-collapse-time $animation-ease;
    }
}

.pull-open-button {
    display: block;
    position: fixed;
    right: 2rem;
    bottom: -6rem;
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
    transition: transform $open-collapse-time $animation-ease;
    z-index: $sidebar-z-index - 2;
    box-shadow: 0 0 4px rgba($dark, 0.25);
    
    @include no-print();
    @include mobile() {
        transform: translateY(-8rem);
    }
    
    &.visible {
        transform: translateY(-8rem);
    }

    span {
        font-size: 1.5em
    }
}

.close {
    @include delete();

    position: absolute;
    top: 1rem;
    right: $sidebar-gap;

    @include tablet() {
        display: none;
    }
}

.pin {
    position: absolute;
    top: 1rem;
    right: $sidebar-gap;
    display: none;

    @include tablet() {
        display: block;
    }
}
