@import '@/style/variables.scss';
@import '@/style/animations.scss';
@import '~bulma/sass/components/navbar.sass';

$dropdown-z-index: 500;
$navbar-expand-duration: 300ms;
$dropdown-animation-duration: 300ms;
$navbar-z-index: 1500;

.navbar-fixed-top {
    @media screen {
        padding-top: $navbar-height; // fixed navbar
    }
}

.navbar {
    @include no-print();

    &.is-fixed-top {
        z-index: $navbar-z-index;
    }

    &.has-shadow {
        box-shadow: 0 0 3px $grey-light;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: normal;
        color: $grey;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5em;
        display: inline-block;
        vertical-align: baseline;
    }
}

.navbar-divider {
    display: block;
}

.dropdown-trigger-open {
    z-index: $dropdown-z-index;
}

.dropdown {
    animation-duration: $dropdown-animation-duration;
    animation-timing-function: $animation-ease;
    animation-fill-mode: forwards;
    display: none;

    @include from($navbar-breakpoint) {
        top: 100%;
        z-index: $dropdown-z-index;

        border-radius: $navbar-dropdown-boxed-radius;
        border-top: none;
        box-shadow: 0 2px 3px rgba($dark, 0.1);

        font-size: 1rem;
        transform-origin: top left;
        max-height: calc(100vh - #{$navbar-height});
        overflow-y: auto;

        &:not(.is-right) {
            transform-origin: top left;
            border-top-left-radius: 0;
        }

        &.is-right {
            transform-origin: top right;
            border-top-right-radius: 0;
        }
    }

    &.opened {
        display: block;
    }

    &.opening {
        animation-name: navbar-dropdown-menu-open-small;

        @include from($navbar-breakpoint) {
            animation-name: navbar-dropdown-menu-open;
        }
    }

    &.closing {
        animation-name: navbar-dropdown-menu-close-small;

        @include from($navbar-breakpoint) {
            animation-name: navbar-dropdown-menu-close;
        }
    }
}

.dropdown-backdrop {
    @include until($navbar-breakpoint) {
        display: none;
    }
}

.navbar-menu.is-active {
    animation-name: navbar-expand;
    animation-duration: $navbar-expand-duration;
    animation-timing-function: $animation-ease;
}

.backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: ($navbar-z-index - 1);
    background: rgba($black, 0.25);

    animation-name: fade-in;
    animation-duration: $navbar-expand-duration;
    animation-timing-function: $animation-ease;

    @include from($desktop) {
        display: none;
    }

    @include no-print();
}

.user-card {
    composes: navbar-item;
    display: flex;
    align-items: center;
    
    @include from($navbar-breakpoint) {
        width: 300px;
    }

    $user-card-divider-margin: 0.75rem;

    small {
        display: block;
        margin-top: -0.4rem;
    }

    span {
        font-size: 2rem;
        margin-right: $user-card-divider-margin;
    }

    div {
        border-left: $navbar-divider-height solid $navbar-divider-background-color;
        padding-left: $user-card-divider-margin;
    }

    &:hover div {
        border-left-color: darken($navbar-divider-background-color, 4%);
    }
}

.background-tasks-indicator {
    composes: navbar-item;

    user-select: none;
}

.navbar-link:not(.is-arrowless)::after {
    width: 0.5rem;
    height: 0.5rem;
    border-width: 1px;
    border-radius: 0;
}

@keyframes navbar-expand {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes navbar-dropdown-menu-open {
    from {
        transform: scaleX(0.8) scaleY(0.6) translateY(-2.5%);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes navbar-dropdown-menu-open-small {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes navbar-dropdown-menu-close {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: scaleX(0.5) scaleY(0) translateY(-2.5%);
        opacity: 0;
    }
}

@keyframes navbar-dropdown-menu-close-small {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: translateY(-25px);
        opacity: 0;
    }
}
