@import '@/style/variables.scss';

.unprintable {
    @include no-print();
}

.ghs-cell {
    font-size: 1.25em;

    @media print {
        font-size: 2rem;
        padding: 0.25rem !important;
    }
}

.worksheet-table {
    margin-bottom: 1.5rem;
}
