@import '@/style/variables.scss';

.property-list {
    @include from($tablet) {
        display: grid;
        grid-template-columns: minmax(150px, auto) 100%;
        grid-gap: 1rem;
    }

    dt {
        font-weight: bold;
    }

    @include mobile() {
        dd:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.buttons {
    @include no-print();
}

.ghs-cell {
    font-size: 1.5rem;
    @media screen {
        width: 1.25em;
        height: 1em;
        position: relative;
    }
}
