@import '@/style/variables.scss';

.date {
    &:first-of-type {
        display: none;
        font-size: 1rem;
        margin-bottom: 1rem;
        
        @media print {
            display: block;
        }
    }

    &:last-of-type {
        display: block;
        color: $grey;
        
        @include no-print();
    }
}

.legend {
    display: none;
    page-break-inside: avoid;
    page-break-before: always;
    
    @media print {
        display: block;
    }

    .ghs-legend {
        display: grid;
        grid-template-columns: repeat(3, (100% / 3));
        grid-gap: 1rem;

        & > div {
            display: inline-flex;
            align-items: center;

            & > :first-child {
                font-size: 5rem;
            }

            & > :nth-child(2) {
                font-size: 2rem;
            }

            & > :nth-child(3) {
                flex-shrink: 100;
            }

            & > :not(:first-child) {
                margin-left: 0.5rem;
            }
        }
    }
}

.controls {
    @include no-print();

    .active-button {
        background: $border;
    }
}

.toc {
    @include no-print();

    li {
        margin-bottom: 0.75rem;
        display: inline-block;
        
        &:not(:last-child) {
            margin-right: 1em;
        }
    }
}

.hr {
    @include no-print();
}
