body {
    font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', Ubuntu, sans-serif;
    font-size: 16px;
    padding: 2rem;
    text-align: center;
}

body::after {
    content: '';
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
    background-image: url('/style/app-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
}

h2 {
    font-size: 2.5em;
    font-weight: lighter;
}

h1 {
    font-size: 2em;
    font-weight: lighter;
}

h1, h2, h3 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
