@import '@/style/variables.scss';

$dropdown-animation-time: 300ms;
$dropdown-z-index: 500;
$icon-size: 4rem;
$menu-arrow-size: 8px;

.trigger {
    @include no-print();
}

.menu {
    display: none;
    
    position: absolute;
    top: 50%;
    left: calc(100% + #{$menu-arrow-size});
    z-index: $dropdown-z-index + 1;
    transform: translateY(-50%);
    transform-origin: 0% top;
    padding: 0.5rem 1rem;
    
    background: $white;
    border-radius: $radius;
    
    animation-duration: $dropdown-animation-time;
    animation-timing-function: $animation-ease;
    animation-fill-mode: forwards;

    @include no-print();

    &:after {
        content:"";
        position: absolute;
        left: -$menu-arrow-size;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $menu-arrow-size $menu-arrow-size $menu-arrow-size 0;
        border-color: transparent;
        border-right-color: $white;
    }
}

.opening {
    animation-name: ghs-detail-open;
}

.closing {
    animation-name: ghs-detail-close;
}

.opened {
    display: block;
}

.content {
    display: flex;
    align-items: center;
}

.symbol {
    font-size: $icon-size;

    &:not(:last-child) {
        margin-right: 0.25rem;
    }
}

.divider {
    display: inline-block;
    width: 1px;
    margin: 0 0.5rem;
    height: $icon-size / 2;
    background: $grey-light;
}

.link {
    display: inline-block;
    font-size: $icon-size / 2;
    margin-left: 0.25rem;
    color: $link !important; // override the selected row bulma color
}

.no-print {
    @include no-print();
}

.print {
    display: none;

    @media print {
        display: inline-block;
    }
}
th.print, td.print {
    @media print {
        display: table-cell;
    }
}

.side-by-side {
    display: inline-flex;
}

@keyframes ghs-detail-open {
    from {
        transform: scaleX(0.5) scaleY(0) translateX(-1rem) translateY(-50%);
        opacity: 0;
    }
    to {
        transform: scaleX(1) scaleY(1) translateY(-50%);
        opacity: 1;
    }
}

@keyframes ghs-detail-close {
    from {
        transform: scaleX(1) scaleY(1) translateY(-50%);
        opacity: 1;
    }
    to {
        transform: scaleX(0.5) scaleY(0.5) translateY(-50%);
        opacity: 0;
    }
}
