@import '@/style/variables.scss';
@import '@/style/animations.scss';

.wrapper {
    animation-name: fade-in;
    animation-duration: 300ms;
    animation-timing-function: $animation-ease;
}

.notice {
    border-left: 4px solid $grey-lighter;
    padding: 0.5rem 0 0.5rem 1rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
    
    &.system {
        border-left-color: $primary;
    }
}

.info {
    font-size: 0.8em;

    & > :first-child::before {
        content: "– "
    }

    & > :not(:first-child)::before {
        content: " · "
    }
}

.edit-link {
    display: inline-block;
    margin-bottom: 1rem;
}
