.container {
    max-width: 960px;
    margin: 0 auto;
}

.table {
    margin-bottom: 1rem;
}

.warning-message {
    margin-top: 1rem;

    .warning-body > :not(:first-child) {
        margin-top: 1rem;
    }
}
