<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title><%= appName %></title>
        <style>
            #noscript-message > div {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                max-width: 400px;
                margin: 10rem auto 0;
            }
            #noscript-message h1 {
                font-weight: lighter;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <noscript id="noscript-message">
            <div>
                <h1>Oh no :(</h1>
                <p>Chemiekast requires Javascript to function correctly. Please enable Javascript or update your browser.</p>
            </div>
        </noscript>
        <script>
            var CHEMIEKAST_GLOBAL_APP_NAME = '<%= appName %>';
            var CHEMIEKAST_GLOBAL_APP_VERSION = '<%= appVersion %>';
            var CHEMIEKAST_GLOBAL_APP_BUILD_DATE = '<%= buildDate %>';
            var CHEMIEKAST_GLOBAL_HOST = '<%= chemiekastHost %>';
            var CHEMIEKAST_GLOBAL_PRODUCTION_BUILD = <%= prod %>;
            var CHEMIEKAST_GLOBAL_SOURCE_REPO = 'https://gitlab.com/pvdstel/chemiekast';
        </script>
    </body>
</html>
