@import 'variables';

@import '~bulma/sass/helpers/_all';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/content';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/notification';
@import '~bulma/sass/elements/tag';
@import '~bulma/sass/elements/table';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/form/shared';
@import '~bulma/sass/form/input-textarea';
@import '~bulma/sass/form/select';
@import '~bulma/sass/form/tools';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/components/card';
@import '~bulma/sass/components/message';
@import '~bulma/sass/components/panel';

$icon-column-width: 2.5rem;

.title, .subtitle {
    margin-top: 0.5rem;

    &.is-1, &.is-2, &.is-3 {
        font-weight: lighter;
    }

    &.is-4 {
        font-weight: normal;
    }
}

.tag {
    @media print {
        &::before {
            content: '(';
        }

        &::after {
            content: ')';
        }
    }
}

td, th {
    .icon-column {
        width: $icon-column-width;
        min-width: $icon-column-width;
        text-align: center;
    }
    
    &.button-cell {
        position: relative;
        width: $icon-column-width;
        min-width: $icon-column-width;
        text-align: center;

        & > a {
            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.label {
    font-weight: 400;
}
.required-field {
    composes: label;
    
    &:after {
        color: $info;
        content: "*";
        font-weight: 900;
        margin-left: 0.25em;
    }
}
