@import '~npm-font-open-sans/open-sans.css';
@import 'variables';
@import '~bulma/sass/base/all';

html {
    overflow-y: auto;
    min-height: 100vh;
    height: 100%;
    scroll-behavior: smooth;
}

/* Typography */

h1 {
    font-weight: lighter;
    text-overflow: ellipsis;
    font-size: $size-1;
}

h2 {
    font-weight: lighter;
    font-size: $size-2;
}

h3 {
    font-weight: lighter;
    font-size: $size-3;
}

h4 {
    font-size: $size-4;
}

textarea {
    resize: none;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
