@import '~bulma/sass/utilities/initial-variables.sass';

$family-sans-serif: 'Open Sans', Ubuntu, 'Helvetica Neue', 'Segoe UI', Roboto, Verdana, sans-serif;
$family-monospace: Consolas, Inconsolata, 'Source Code Pro', monospace;
$body-size: 14px;

$primary: $cyan !default;
$info: $turquoise !default;

$animation-ease: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$animate-in-ease: cubic-bezier(0.215, 0.610, 0.355, 1);

// The order of these is important
@import '~bulma/sass/base/animations.sass';
@import '~bulma/sass/utilities/functions.sass';
@import '~bulma/sass/utilities/derived-variables.sass';
@import '~bulma/sass/utilities/controls.sass';
@import '~bulma/sass/utilities/mixins.sass';
@import '~bulma/sass/utilities/extends.sass';

@mixin no-print() {
    @media print {
        display: none !important;
    }
}
