@import '@/style/variables.scss';

$dual-merge-breakpoint: $widescreen;

.non-system {
    margin-top: 0 !important; // Bulma has more specific selectors
    margin-bottom: 0 !important; // Bulma has more specific selectors

    & > div {
        padding-top: 0;
        padding-bottom: 0;

        @media screen and (min-width: $tablet) and (max-width: $dual-merge-breakpoint - 1) {
            &:nth-child(odd) {
                padding-right: 0;

                &:not(:last-child) input {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &:nth-child(even) {
                padding-left: 0;

                input {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
}

.ghs-checkbox-container {
    display: flex;
    flex-wrap: wrap;
    
    & > div {
        @include from($tablet) {
            width: 50%;
        }
    
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        cursor: default;
    }

    span {
        margin-left: 0.5rem;
    }
    
    .ghs-symbol {
        width: 3em;
        height: 3em;
        margin-left: 0.5rem;
    }
}
