@import '@/style/variables.scss';

$transition-time: 150ms;
$thead-z-index: 50;

.wrapper {
    flex-grow: 1;
    
    @media screen {
        overflow-x: auto;
        overflow-y: auto;
    }
}

.fixed {
    @include no-print();
    position: fixed;
    z-index: $thead-z-index;
    background: $white;

    animation-duration: $transition-time;
    animation-timing-function: $animation-ease;
    animation-fill-mode: forwards;
    
    &.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &.showing {
        animation-name: thead-showing;
        pointer-events: all;
    }
    
    &.hiding {
        animation-name: thead-hiding;
        pointer-events: none;
    }
    
    &.visible {
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes thead-showing {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes thead-hiding {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
