@import '@/style/variables.scss';

.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.table {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    max-height: 100%;
}

.content {
    display: inline-block;
    padding: 1rem;
    max-height: 100%;
}

.logo {
    width: 2em;
    height: 2em;
}

.browserList {
    margin: 5rem auto;
}

.browser {
    display: inline-block;
    width: 200px;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.25rem;
    color: #fff;
    border-radius: $radius;
    font-weight: 700;

    &:hover {
        color: #fff;
    }
}

.browserFirefox {
    composes: browser;
    background-color: #ff6611;
    background: linear-gradient(to right, #ff272d, #ff8e00);
}

.browserEdge {
    composes: browser;
    background: #3277bc;
}

.browserChrome {
    composes: browser;
    background: #1da462;
}

.language-select {
    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        background: none;
        font-size: 1rem;
        color: inherit;
        margin-left: 0.5rem;

        &::-ms-expand {
            display: none;
        }
    }
}
