@import '@/style/variables.scss';
@import '@/style/animations.scss';
@import '~bulma/sass/components/modal.sass';

$animation-duration: 300ms;
$modal-z-index: 1000;
$navbar-height: 3.25rem;

.modal {
    top: $navbar-height;
    padding: 1rem;
    z-index: $modal-z-index;

    animation-duration: $animation-duration;
    animation-timing-function: $animation-ease;
    animation-fill-mode: forwards;

    &.opening {
        animation-name: fade-in;
    }
    
    &.closing {
        animation-name: fade-out;
        pointer-events: none;
    }
}

.modal-card {
    animation-duration: $animation-duration;
    animation-timing-function: $animation-ease;
    animation-fill-mode: forwards;
    margin: 0;

    &.opening {
        animation-name: modal-card-open;
    }

    &.closing {
        animation-name: modal-card-close;
    }
}

.modal-background {
    background: rgba($black, 0.5);
}

.modal-card-foot {
    flex-direction: row-reverse;

    .button {
        min-width: 8rem;
        
        &:not(:last-child) {
            margin-right: 0;
            margin-left: 1rem;
        }
    }
}

.delete {
    @include delete();
}

@keyframes modal-card-open {
    from {
        transform: scaleX(0.95) scaleY(0.85);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes modal-card-close {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: scaleX(0.85) scaleY(0.65);
        opacity: 0;
    }
}
