@import '@/style/variables.scss';
@import '@/style/animations.scss';

$rotation-base-time: 2000ms;
$page-loader-fade-duration: 500ms;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 1em;
    height: 1em;
    position: relative;

    * {
        transform-origin: center;
    }
}

.ring {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $grey-dark;
    fill: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

.ring-outer {
    composes: ring;
    stroke-width: 1;
    animation: spin $rotation-base-time * 1 linear infinite;

    &.is-fat {
        stroke-width: 2;
    }
}

.ring-middle {
    composes: ring;
    stroke-width: 0.9;
    animation: spin $rotation-base-time * (5 / 3) linear infinite;
    animation-direction: reverse;

    display: none;

    &.is-fat {
        stroke-width: 1.8;
    }}

.ring-inner {
    composes: ring;
    stroke-width: 0.8;
    animation: spin $rotation-base-time * (4 / 3) linear infinite;

    display: none;

    &.is-fat {
        stroke-width: 1.6;
    }
}

.visible {
    display: block;
}

.is-inline {
    display: inline-block !important;
    vertical-align: sub;
}

.is-large {
    font-size: 3.5em;
}

.is-xlarge {
    font-size: 8em;
}

.is-white {
    stroke: $white;
}

.is-primary {
    stroke: $primary;
}

.page-loader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;

    opacity: 0;
    animation-duration: $page-loader-fade-duration;
    animation-name: fade-in;
    animation-delay: 100ms;
    animation-fill-mode: forwards;

    p {
        margin-left: 0.5rem;
    }

    &.large {
        padding: 4rem;
        justify-content: center;

        p {
            margin-left: 2rem;
        }
    }
}
