@import '@/style/variables.scss';
@import '~bulma/sass/elements/notification';
@import '@/style/animations.scss';

$notification-bg-opacity: 0.75;
$break-horizontal: 500px;

.title {
    font-size: 1.5em;
    font-weight: 400;
}

.subtitle {
    font-size: 2em;
    margin-bottom: 1rem;

    @media screen and (min-width: $break-horizontal) {
        font-size: 2.5em;
    }
}

.description {
    margin-bottom: 1rem;
}

.notification {
    border-radius: 0;
    padding: 1.5rem 3rem;
    animation: fade-in 300ms $animation-ease;

    &:not(:last-child) {
        margin: 0.5rem -3rem;
    }
    
    &.is-success {
        background: rgba($success, $notification-bg-opacity);
    }
    
    &.is-warning {
        background: rgba($warning, $notification-bg-opacity);
    }

    &.is-danger {
        background: rgba($danger, $notification-bg-opacity);
    }
}

.forgot-password {
    margin-top: 1rem;

    a {
        color: $grey;
    }
}
