@import '@/style/variables.scss';

$gatekeeper-bg: lightgray;
$gatekeeper-box-bg: $white;
$break-horizontal: 500px;
$break-vertical: 540px;

.background {
    background-color: $gatekeeper-bg;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    @media screen and (min-width: $break-horizontal) and (min-height: $break-vertical) {
        background-image: url('~@/resources/images/render-hd-web.jpg');
        
        &.hi-res-background {
            background-image: url('~@/resources/images/render-4k-web.jpg');
        }
    }
}

.glass-background {
    background: rgba($gatekeeper-box-bg, 0.85);
    background-image: url('~@/resources/images/render-frost-hd-web.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    text-align: center;
}

.box {
    composes: glass-background;
    position: relative;
    padding: 2.5rem 1.5rem 1rem;
    width: 100%;
    height: 100%;
    overflow: auto;

    @media screen and (min-width: $break-horizontal) and (min-height: $break-vertical) {
        width: 25rem;
        height: auto;
        padding: 2rem 3rem;
        border-radius: $radius-large;
    }

    .footer {
        display: none;
        position: static;
        padding: 10px 0;
        margin-top: 5px;
        text-shadow: none;

        &, a {
            color: $grey;
        }

        @media screen and (max-height: ($break-vertical - 1)),
               screen and (max-width: ($break-horizontal - 1)) {

            display: flex;
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    padding: 0.5rem;

    &, a{
        color: $white;
    }

    a:hover {
        color: $primary;
    }

    @media screen and (max-height: ($break-vertical - 1)),
           screen and (max-width: ($break-horizontal - 1)) {
        display: none;
    }

    @media screen and (max-width: ($break-horizontal - 1)) {
        flex-direction: column;
    }

    @media screen and (min-width: $break-horizontal) {
        & > :not(:last-child) {
            margin-right: 1rem;
        }
    }
}

.language-select {
    display: inline-flex;
    align-items: center;
    margin: 1rem auto 0;
    color: $grey;

    :first-child, :last-child {
        position: relative;
        width: 1rem;
        z-index: 1;
    }

    :first-child {
        margin-right: -1rem;
    }
    
    :last-child {
        margin-left: -1rem;
    }

    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        background: none;
        font-size: 1rem;
        color: inherit;

        position: relative;
        z-index: 2;
        padding: 0 1.25rem;
    }
}
