@import '@/style/variables.scss';

$animation-duration: 150ms;

$icon-font-family: 'Font Awesome 5 Free' !default;
$icon-font-weight: 900;
$check-icon: '\f00c' !default;
$box-size: 17em / 14;

@mixin icon-font {
    font-family: $icon-font-family;
    font-weight: $icon-font-weight;
}

@mixin focus-style() {
    outline-color: $grey;
    outline-width: 1px;
    outline-style: dotted;
    outline-offset: 1px;
}

.box {
    label {
        vertical-align: middle;
        position: relative;
        padding-left: $box-size + 0.5em;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: $box-size;
            height: $box-size;
            left: 0;
            top: 1px;
            border: 1px solid $border;
            background-color: #fff;
            transition: background $animation-duration ease-in-out,
                        border $animation-duration ease-in-out,
                        color $animation-duration ease-in-out;
        }

        &::after {
            display: inline-block;
            position: absolute;
            width: $box-size;
            height: $box-size;
        }
    }

    &.is-empty label {
        padding-left: $box-size;
    }

    input[type="checkbox"],
    input[type="radio"] {
        z-index: 1;
        opacity: 0;
        position: absolute;

        &:focus + label::before {
            @include focus-style();
        }

        &:disabled {
            cursor: not-allowed;
        }

        &:disabled + label {
            opacity: 0.65;
            &::before {
                background-color: $grey-lighter;
                cursor: not-allowed;
            }
        }
    }
}

.checkbox {
    label::before {
        border-radius: $radius;
    }

    label::after {
        content: $check-icon;
        @include icon-font();
        left: 3.5px;
        top: 1px;
        font-size: $box-size / 1.5;
        color: $text;
        opacity: 0;
        transition: opacity $animation-duration ease-out;
    }

    input[type="checkbox"],
    input[type="radio"] {
        &:checked + label::after {
            opacity: 1;
        }

        &:indeterminate + label::after {
            display: block;
            content: "";
            width: 11px;
            height: 3px;
            background-color: $text;
            border-radius: 2px;
            margin-top: 7px;
            opacity: 1;
        }
    }

    &.is-circle label::before {
        border-radius: 50%;
    }
    
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            input:checked + label::before,
            input:indeterminate + label::before {
                background-color: $color;
                border-color: $color;
            }

            input:checked + label::after {
                color: $color-invert;
            }
            input:indeterminate + label::after {
                background-color: $color-invert;
            }
        }
    }
}

.radiobutton {
    label::before {
        border-radius: 50%;
    }

    label::after {
        content: '';
        border-radius: 50%;
        top: 1px;
        left: 0;
        background: $text;
        transform: scale(0);
        transition: transform $animation-duration ease-out,
                    opacity $animation-duration ease-out;
    }

    input[type="radio"] {
        &:checked + label::after {
            transform: scale(0.5);
        }
    }
    
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            label::after {
                background-color: $color;
                border-color: $color;
            }
        }
    }
}
