@import '@/style/variables.scss';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    justify-content: center;
    
    @include tablet() {
        align-items: flex-start;
        flex-direction: row;
    }
}

.image {
    width: 100%;
    flex-shrink: 0;
    max-width: 200px;
    
    @include tablet() {
        max-width: initial;
        width: 300px;
    }
}

.details {
    max-width: 100%;
}
